<%= form_with model: Comment.new(
                      commentable_type: commentable.class.to_s,
                      commentable_id: commentable.id),
              id: comment_form_id(commentable),
              class: comment_form_classes(commentable) do |form| %>
  <%= form.hidden_field(:commentable_type) %>
  <%= form.hidden_field(:commentable_id) %>
  <div class="form__field mb-3">
    <%= form.text_field :body,
    										class: "form__control",
    										placeholder: "Add a public comment...",
    										required: true,
    										'login-required': current_user.nil? %>
  </div>
  <div class="form__actions mt-2">
    <%= form.submit class: "form__button form__button--primary cursor-pointer" %>
    <%= button_tag t("cancel.text"),
                   type: "button",
                   class: "form__button border-0 cancel-link cursor-pointer",
                   data: { "commentable-type": commentable.class.to_s.downcase,
                           "commentable-id": commentable.id } %>
  </div>
<% end %>
