<div id="<%= comments_container_id(commentable) %>" class="<%= comments_container_class(commentable) %>">
	<% if local_assigns[:show_title].presence %>
		<h4 class="comments-counter"><%= pluralize(comments.count, "Comment") %></h4>
	<% end %>
	
	<% if commentable.class == Comment %>
		<div class="ml-3 d-none">
	<% else %>
		<div>
	<% end %>
		<%= render partial: "shared/comment_form", locals: { commentable: commentable } %>
	</div>

	<%= render partial: "shared/comment", collection: comments %>
</div>
