<div class="post <%= "post--border" if local_assigns[:post_border] %>">
  <div class="post__meta">
    <span class="post__meta-author"><%= post.author.name %></span>
    <span class="post__meta-published"><%= l(post.created_at.to_date, format: :short) %></span>
    <span class="post__meta-divider"></span>
    <span class="post__meta-comments comments-counter"><%= pluralize(post.comments.count, "Comment") %></span>
  </div>

  <h2 class="post__title">
    <% if local_assigns[:link_title].presence %>
      <%= link_to(post.title, post) %>
    <% else %>
      <%= post.title %>
    <% end %>
  </h2>

  <% unless post.tag_list.empty? %>
    <div class="post__tags">
      <% post.tag_list.each_with_index do |tag_name, index| %>
        <div class="tag-container"><%= link_to tag_name, tag_path(name: tag_name) %></div>
      <% end %>
    </div>
  <% end %>

  <div class="post__body">
    <% if local_assigns[:expand_body].presence %>
      <% if current_user&.can_view_full_post?(post) %>
        <%= sanitize(post.body) %>
      <% else %>
        <%= sanitize(post.body.truncate(300, omission: "...")) %>
        <% if current_user %>
          <%= render partial: "shared/subscription_payment_form",
              locals: { subscribable: post } %>
        <% else %>
          <%= link_to "Please login to access full article", login_path %>
        <% end %>
      <% end %>
    <% else %>
      <%= sanitize(post.body.truncate(200, omission: "...")) %>
      <%= link_to "Read more...", post, class: "post__continue" %>
    <% end %>
  </div>
</div>
